
.headingContainer {
    background-color: aqua;
    margin: 0 auto;
}
.mainHeading {
    width: 40%;
    margin: 0 auto;
}

.main {
    width: 80%;
    margin: 0 auto;
}

button {
    margin-right: 2%;
    border-radius: 20px;
    color: purple;
    background-color: aqua;
}

.todo {
    background-color: rgb(199, 190, 190);
    padding: 5px;
}

.newTodo {
    margin-top: 5%;
}